*.csv
output
*.json
*.xml
*.safetensors
*.bin
*.pth
*.pt
trial_*
*.log
checkpoint*
stacking_model/data
stacking_model/data_preprocessing/data
medical_BERT_model/experiment_2/fine_tuning/result/optuna_study

medical_BERT_model/experiment_1/pretraining_bert_1/pretrain_phase1_model_ddp
medical_BERT_model/experiment_1/pretraining_bert_1/pretrain_phase1_tokenizer_ddp
medical_BERT_model/experiment_1/pretraining_bert_2/pretrain_phase2_model_ddp
medical_BERT_model/experiment_1/pretraining_bert_2/pretrain_phase2_tokenizer_ddp

medical_BERT_model/experiment_2/pretraining_bert_1/pretrain_phase1_model_ddp
medical_BERT_model/experiment_2/pretraining_bert_1/pretrain_phase1_tokenizer_ddp
medical_BERT_model/experiment_2/pretraining_bert_2/pretrain_phase2_model_ddp
medical_BERT_model/experiment_2/pretraining_bert_2/pretrain_phase2_tokenizer_ddp


