*.csv
output
*.json
*.xml
*.safetensors
*.bin
*.pth
*.pt
trial_*
*.log
checkpoint*
experiment_2/fine_tuning/result/optuna_study

experiment_1/pretraining_bert_1/pretrain_phase1_model_ddp
experiment_1/pretraining_bert_1/pretrain_phase1_tokenizer_ddp
experiment_1/pretraining_bert_2/pretrain_phase2_model_ddp
experiment_1/pretraining_bert_2/pretrain_phase2_tokenizer_ddp

experiment_2/pretraining_bert_1/pretrain_phase1_model_ddp
experiment_2/pretraining_bert_1/pretrain_phase1_tokenizer_ddp
experiment_2/pretraining_bert_2/pretrain_phase2_model_ddp
experiment_2/pretraining_bert_2/pretrain_phase2_tokenizer_ddp


